/* gmarket font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header {
    position: relative;
    height: 165px;
    background: url(../img/header/header_background.png) no-repeat;
    background-size: 100% 165px;
}
.header_inner {
    height: 100%;
}
.worldcup_logo {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.worldcup_logo .logo_naver{
    display: block;
    width: 26px;
    height: 26px;
    padding: 10px 10px 8px 16px
}
.worldcup_logo .logo_qatar {
    display: block;
    margin: 10px 0 0 18px;
    height: 31px;
}
.worldcup_sponser {
    display: flex;
    align-items: center;
    margin-top: -6px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 26px;
    color: rgba(197,123,151,.8);
    font-weight: 600;
}
.worldcup_sponser span {
    font-size: 12px;
    line-height: 26px;
    color: rgba(197,123,151,.8);
    font-weight: 600;
}
.worldcup_sponser img {
    width: auto;
    height: 26px;
    margin-left: 5px;
}
.worldcup_open_talk_link {
    position: absolute;
    top: 73px;
    right: 15px;
}
.header_top_menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 45px;
    border: 0;
    background-color: transparent;
}
.header_top_menu svg{
    vertical-align: top;
}

.header_gnb {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.header_gnb_inner {
    height: 52px;
    padding: 0 6px;
    white-space: nowrap;
    box-sizing: border-box;
}
.header_gnb_inner ul {
    font-size: 0;
}
.header_gnb_inner ul li{
    padding: 0 7px;
    text-align: center;
    display: inline-block;
}
.header_gnb_inner ul a svg{
    margin-top: -2px;
    vertical-align: middle;
}
.header_gnb_inner ul a{
    display: inline-block;
    position: relative;
    padding: 0 8px;
    font-family: "GmarketSansMedium";
    font-size: 16px;
    line-height: 52px;
    color: #fff;
    opacity: .5;
    letter-spacing: -.5px;
    vertical-align: top;
}
.header_gnb_inner ul a.active {
    opacity: 1;
}
.header_gnb_inner ul a.active::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: #faeedc;
}

@media (min-height: 490px) {
    .header_gnb_inner ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateZ(0)!important;
    }
}

@media (min-width: 1024px){
    #header{
        overflow: hidden;
        position: sticky;
        left: 0;
        top: 0;
        right: 0;
        z-index: 9999;
        height: 60px;
        margin-bottom: 0;
        background: #802045;
    }
    .header_inner::before{
        /* content: "";
        position: absolute;
        left: calc(50% - 1200px / 2 - 200px);
        top: 0;
        width: 535px;
        height: 60px;
        background: url(../img/header/header_background_pc.png) no-repeat;
        background-size: auto 60px; */
    }
    .header_top{
        max-width: 1000px;
        margin: 0 auto;
    }
    .worldcup_logo{
        flex-direction: row;
    }
    .header_gnb{
        overflow-x: visible;
        position: absolute;
        top: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        margin: 8px 0 0;
    }
    .worldcup_sponser{
        display:none;
    }
    .worldcup_open_talk_link{
        display: none;
    }
}